@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

.MEwrapper {
    justify-content: center;
    display: flex;
    max-height: 80vh;
    /* height: 300vh; */
    width: 100%;
    place-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.MEleft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.MEpic {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
    aspect-ratio: auto;
}

.Portrait {
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    aspect-ratio: auto;
}

.MEdesc {
    /* padding: 0px 150px; */
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
    line-height: 20px;
    color: var(--text-color);
    font-family: 'Baskervville', serif;
    font-size: 18px;
}

@media all and (max-width: 740px) {
    .MEwrapper {
        flex-direction: column;
    }
    .MEleft {
        width: 90%;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    .MEpic {
        width: 90%;
        max-height: unset;
        padding-bottom: 100px;
    }
    
}