@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oswald:wght@600&display=swap');

#NavBar {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background-color: transparent;
    z-index: 5;
}

.OpenNav {
    position: absolute;
    top:0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: var(--background-color-light);
}

.ClosedNav {
    display: flex;
    justify-content: center;
    place-items: center;
}

.left {
    display: flex;
    justify-content: left;
    place-items: center;
}

.right {
    display: flex;
    justify-content: right;
    place-items: center;
}

.center {
    display: flex;
    justify-content: center;
    place-items: center;
}

.ClosedNav div{
    width: 100%;
}

.NavBarContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
    place-items: center;
    width: 100%;
    height: 100%;
}

.NavBarContent button {
    background-color: var(--background-color);
    margin: 10px 0px;
    padding: 10px;
    border: none;
    color: var(--text-color);
    width: 80%;
    text-align: left;
    border-radius: 10px;
    font-size: 15px;
}

.Title {
    color: var(--text-color);
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 5px var(--text-color);
}

.ThemeSwitch {
    transition: .2s all linear;
    margin-right: 10px;
}

.hamburger {
    margin-left: 10px;
}

.closeX {
    margin-left: 15px;
    margin-top: 10px;
}

.DarkLight {
    height: 35px;
    width: 35px;
}

.ThemeSwitch:hover {
    transform: scale(1.1);
}