.Poem {
    width: fit-content;

    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: var(--background-color-light);
    z-index: 1;
}

.Poem p {
    font-family: 'Baskervville', serif;
    line-height: 1.5;
    color: var(--text-color)
}

.PoetryPage {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.PoetryContent {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 50% 50%;
}